.navbar .navbar-nav .nav-drop > a {
  color: white;
  text-shadow: 0.125em 0.125em 0 rgb(0 0 0 / 20%);
  padding: 0.815rem 1rem;
  font-weight: 400;
  border-bottom: 4px solid #165788;
}
.navbar .navbar-nav .nav-drop > div {
  padding: 1% 0;
  margin-bottom: 1%;
  min-width: 5rem;
  transform: translateY(-1px);
  border-radius: 0;
}
.navbar .navbar-nav .nav-drop .nav-links {
  border-bottom: 1px solid #165788;
  margin: 2% auto;
  padding: 0.25rem;
}
.navbar .navbar-nav .nav-drop .active {
  background-color: #d3d7db;
  color: black;
  font-weight: 500;
}
.navbar .navbar-nav .nav-drop > a:hover {
  border-bottom: 4px solid #ec9f09;
}
a.nav-links.nav-link {
  color: white !important;
  text-shadow: 0.125em 0.125em 0 rgb(0 0 0 / 20%);
  padding: 0.815rem 1rem;
  font-weight: 400;
  border-bottom: 4px solid #165788;
}
a:hover.nav-links.nav-link {
  border-bottom: 4px solid #ec9f09;
}

.navbar {
  z-index: 0;
  padding: 0 !important;
  background-color: #165788;
  opacity: 0.97;
}
.navbar h3 {
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
